.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.TableHead {
  background-color: #0a0e44;
  color: aliceblue;
  font-size: xx-large;
}
td{
  border: 3px solid black;
}
.text-danger{
  background-color: antiquewhite;
  color: red;
  width: 60%;
  margin: auto;
}
.TodoForm {
  border: 10px solid grey;
  background-color: #0a0e44;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  width: 600px;
  margin: auto;
}
.priceTodo{
  background-color: antiquewhite;
  display: inline-block;
}
.productInput{
  
  margin-top: 10px;
  background-color: #095579;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-size: 18px;
  height: 40px;
  padding: 4px 20px 0;
  width:50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
